flows/flows_mqtt_broker-status-nspanel120pro-landscape.json
[{"id":"29882ca3.5a9ce4","type":"tab","label":"MQTT Broker Status","disabled":false,"info":"Note:\n\nDashboard Layout and CSS parameters optimized\nfor SONOFF NSPanal Pro 120 (landscape)"},{"id":"3c029a8f.98a726","type":"group","z":"29882ca3.5a9ce4","name":"MQTT Broker status by subscribing to all $SYS topics","style":{"label":true},"nodes":["84eca585.790ad8","58730fc1.e2662","42375b2.753fda4","9ff2f187.a558c","6208fdf4.505f14","a9b4d8a8.f39f98","e36cae51.be714","a362a9d3.d29248","e8604d50.f475a","59ee1626.7fc018"],"x":34,"y":279,"w":772,"h":202},{"id":"87c9dc42.39012","type":"group","z":"29882ca3.5a9ce4","name":"MQTT Broker status (dedicated values)","style":{"label":true},"nodes":["7d485550.c1af6c","73d37313.313b3c","9650b732.00db88","a5c40080.e9a88","992038b3.cf1218","be68c0c5.4e9b","1f8144e.60074bb","7a90e78a.8648a8"],"x":34,"y":39,"w":772,"h":202},{"id":"7d485550.c1af6c","type":"mqtt in","z":"29882ca3.5a9ce4","g":"87c9dc42.39012","name":"","topic":"$SYS/broker/version","qos":"0","datatype":"auto","broker":"7cb384af.1211fc","x":150,"y":80,"wires":[["7a90e78a.8648a8"]]},{"id":"73d37313.313b3c","type":"mqtt in","z":"29882ca3.5a9ce4","g":"87c9dc42.39012","name":"","topic":"$SYS/broker/uptime","qos":"0","datatype":"auto","broker":"7cb384af.1211fc","x":150,"y":140,"wires":[["1f8144e.60074bb"]]},{"id":"9650b732.00db88","type":"ui_text","z":"29882ca3.5a9ce4","g":"87c9dc42.39012","group":"9b765432.640598","order":1,"width":16,"height":1,"name":"","label":"Version","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":80,"wires":[]},{"id":"a5c40080.e9a88","type":"ui_text","z":"29882ca3.5a9ce4","g":"87c9dc42.39012","group":"9b765432.640598","order":3,"width":16,"height":1,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":140,"wires":[]},{"id":"992038b3.cf1218","type":"mqtt in","z":"29882ca3.5a9ce4","g":"87c9dc42.39012","name":"","topic":"$SYS/broker/publish/messages/received","qos":"0","datatype":"auto","broker":"7cb384af.1211fc","x":220,"y":200,"wires":[["be68c0c5.4e9b"]]},{"id":"be68c0c5.4e9b","type":"ui_text","z":"29882ca3.5a9ce4","g":"87c9dc42.39012","group":"9b765432.640598","order":5,"width":16,"height":1,"name":"","label":"Published","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":200,"wires":[]},{"id":"1f8144e.60074bb","type":"function","z":"29882ca3.5a9ce4","g":"87c9dc42.39012","name":"dd:hh:mm:ss","func":" // first extract number out of given string\n var str = msg.payload;\n var n = str.replace(/\\s.*/g, '');\n // handle integer\n var totalNumberOfSeconds = n;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60) + ( days * 86400 )));\n // var result = (days < 10 ? \"0\" + days : days) + \"d:\" + (hours < 10 ? \"0\" + hours : hours) + \"h:\" + (minutes < 10 ? \"0\" + minutes : minutes) + \"m:\" + (seconds  < 10 ? \"0\" + seconds : seconds) + \"s\";\n var result =  days + \"d \" + (hours < 10 ? \"0\" + hours : hours) + \"h \" + (minutes < 10 ? \"0\" + minutes : minutes) + \"m \" + (seconds  < 10 ? \"0\" + seconds : seconds) + \"s\";\n node.status({fill:\"green\",text:result});\n msg.payload=result;\n  return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":140,"wires":[["a5c40080.e9a88"]],"info":"# Source\nNode-Red [flows](https://flows.nodered.org/flow/5d7ae80df50c43e736a57f60864be95b)"},{"id":"7a90e78a.8648a8","type":"function","z":"29882ca3.5a9ce4","g":"87c9dc42.39012","name":"version","func":" // String e.g. \"mosquitto version 1.5.7\"\n var str = msg.payload;\n var v = str.split(\" \");\n // handle array\n var result = v[2];\n  node.status({fill:\"green\",text:result});\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["9650b732.00db88"]],"info":"# Source\nNode-Red [flows](https://flows.nodered.org/flow/5d7ae80df50c43e736a57f60864be95b)"},{"id":"84eca585.790ad8","type":"mqtt in","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"","topic":"$SYS/#","qos":"0","datatype":"auto","broker":"7cb384af.1211fc","x":130,"y":380,"wires":[["9ff2f187.a558c","a362a9d3.d29248"]]},{"id":"58730fc1.e2662","type":"template","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"HTML table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table  class=\"table\">\n  <tr>\n\n   <th>TOPIC</th>\n    <th>VALUE</th>\n  \n  </tr>\n  {{#payload}}\n  <tr>\n    <td>{{topic}}</td> \n    <td>{{payload}}</td>\n  </tr>\n{{/payload}}\n\n  \n</table>","output":"str","x":490,"y":380,"wires":[["6208fdf4.505f14","e8604d50.f475a"]]},{"id":"42375b2.753fda4","type":"debug","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"ARRAY","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"$count(msg.payload) & \" objects\"\t","statusType":"jsonata","x":480,"y":440,"wires":[]},{"id":"9ff2f187.a558c","type":"function","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"Aggregate","func":"// prepare node status\nvar timestamp = new Date().toISOString().substring(11,19);\nnode.status({fill:\"green\",text:timestamp});\n\n// aggregate data\nvar topics=context.get('topics') || {};\nvar temp=context.get('temp') || [];\nvar payload=msg.payload;\nvar topic=msg.topic\nvar data;\nif (topic==\"timer\")\n{\nvar keys=Object.keys(topics)\ntemp=[];\nfor(var i=0;i<keys.length;i++)\n{\n    data={\"topic\":keys[i],\"payload\":topics[keys[i]]}\n    temp.push(data);   \n}\nmsg.payload=temp;\ntemp=[];\ncontext.set(\"temp\",temp);//reset\n//if ()\nreturn msg;\n}\nelse\n{\n    topics[topic]=payload\n    data={\"topic\":msg.topic,\"payload\":msg.payload}\n    temp.push(data);\n    context.set(\"topics\",topics);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":380,"wires":[["58730fc1.e2662","42375b2.753fda4"]]},{"id":"6208fdf4.505f14","type":"ui_template","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","group":"529e9879.6c73b8","name":"CSS","order":1,"width":0,"height":0,"format":"<style>\n.headline\n{\n font-size:30px; \n font-weight: bold;\n}\n.table\n{\n font-size:20px;\n width:850px;  \n}\n.main\n{\n height:1700px;\n width:850px;\n //background:#ffffc6;\n //border:1px solid black;\n}\n.table th,td\n{\n border:1px solid black;\n}\n.table th\n{\n background: darkgrey;\n}\n</style>\n\n<div class=\"main\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":650,"y":380,"wires":[["e36cae51.be714"]]},{"id":"a9b4d8a8.f39f98","type":"inject","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"5 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"timer","payload":"","payloadType":"date","x":130,"y":320,"wires":[["9ff2f187.a558c"]]},{"id":"e36cae51.be714","type":"debug","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":735,"y":380,"wires":[],"l":false},{"id":"a362a9d3.d29248","type":"debug","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"SYS","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":290,"y":440,"wires":[]},{"id":"e8604d50.f475a","type":"debug","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"Table content","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"\"String: \" & $length(msg.payload) & \" bytes\"","statusType":"jsonata","x":670,"y":440,"wires":[]},{"id":"59ee1626.7fc018","type":"comment","z":"29882ca3.5a9ce4","g":"3c029a8f.98a726","name":"see Help for futher references (links) and original source / author (Steve Cope)","info":"http://www.steves-internet-guide.com/mqtt-tools/\n\nhttps://github.com/mqtt/mqtt.org/wiki/SYS-Topics","x":510,"y":320,"wires":[]},{"id":"7cb384af.1211fc","type":"mqtt-broker","z":"","name":"rpizw1","broker":"192.168.0.91","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"raspberry_do_gama_alive","birthQos":"0","birthRetain":"true","birthPayload":"Raspberry ativo","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b765432.640598","type":"ui_group","z":"","name":"rpizw1 MQTT Broker","tab":"f5b77239.61e81","order":1,"disp":true,"width":"17","collapse":false},{"id":"529e9879.6c73b8","type":"ui_group","z":"","name":"rpizw1 MQTT Broker $SYS/#","tab":"f5b77239.61e81","order":2,"disp":true,"width":"17","collapse":true},{"id":"f5b77239.61e81","type":"ui_tab","name":"MQTT","icon":"dashboard","order":2,"disabled":false,"hidden":false}]