flows/flows_sun_tab.json
[
    {
        "id": "8ef7505f.8ffdf",
        "type": "tab",
        "label": "Astro",
        "disabled": false,
        "info": "https://www.toptal.com/software/definitive-guide-to-datetime-manipulation"
    },
    {
        "id": "243a8a0e.82e4c6",
        "type": "group",
        "z": "8ef7505f.8ffdf",
        "name": "HomePoint application - Astro function",
        "style": {
            "label": true
        },
        "nodes": [
            "b5624d4b.99664",
            "ab6794ac.6fe8b8"
        ],
        "x": 34,
        "y": 739,
        "w": 772,
        "h": 82
    },
    {
        "id": "2fe06efb.1e7f62",
        "type": "group",
        "z": "8ef7505f.8ffdf",
        "name": "MQTT application - Astro function",
        "style": {
            "label": true
        },
        "nodes": [
            "498d445.33cc3bc",
            "d097a21.f37fa6",
            "45f456d.ff611a8",
            "33d9d0a9.48997",
            "c9ee5ac5.0040b8"
        ],
        "x": 34,
        "y": 519,
        "w": 772,
        "h": 182
    },
    {
        "id": "546207f6.df72f8",
        "type": "group",
        "z": "8ef7505f.8ffdf",
        "name": "further Astro processing",
        "style": {
            "label": true
        },
        "nodes": [
            "39c70bff.be9dc4",
            "e74158af.c17e38",
            "d08ae819.c1b448",
            "67974905.ff7148",
            "2e7bd131.e6b43e",
            "9a978910.b94a28"
        ],
        "x": 34,
        "y": 339,
        "w": 772,
        "h": 142
    },
    {
        "id": "f1ed0782.9e94b8",
        "type": "group",
        "z": "8ef7505f.8ffdf",
        "name": "Location based light control",
        "style": {
            "label": true
        },
        "nodes": [
            "d5316545.5f9a68",
            "ac3dfeac.9a06c",
            "e037671b.6f08f8",
            "9be38bd.badb178",
            "6f640d2e.ff3864",
            "2f4fcc9.5aff534",
            "9f056da6.31f8c",
            "65ee9e9a.21f",
            "eacb72fa.19978",
            "b237dff9.864da",
            "d860eda9.443a7"
        ],
        "x": 34,
        "y": 39,
        "w": 772,
        "h": 262
    },
    {
        "id": "d5316545.5f9a68",
        "type": "comment",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "Astro Function",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "ac3dfeac.9a06c",
        "type": "comment",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "Location: 50.876987 / 9.691384 (DE HEF AF104) - Serverlocation (RPi)",
        "info": "[Home](http://www.gries.name/Maps/default.shtm)",
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "9be38bd.badb178",
        "type": "debug",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "daylight",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f640d2e.ff3864",
        "type": "sunrise",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "",
        "lat": "50.876987",
        "lon": "9.691384",
        "start": "sunrise",
        "end": "sunset",
        "soff": 0,
        "eoff": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "e037671b.6f08f8",
                "eacb72fa.19978"
            ],
            [
                "9f056da6.31f8c"
            ]
        ],
        "info": "# Set Location\n[AF104](http://gries.name/Maps/default.shtm)"
    },
    {
        "id": "2f4fcc9.5aff534",
        "type": "debug",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "trigger",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "e037671b.6f08f8",
        "type": "debug",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "Last update (UTC)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "now",
        "statusType": "jsonata",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "eacb72fa.19978",
        "type": "function",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "Time (UTC)",
        "func": "var time = new Date().toISOString().substring(11,16);\n\nnode.status({fill:\"green\",text:time});\n\n\nmsg.time = time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "9be38bd.badb178",
                "65ee9e9a.21f"
            ]
        ],
        "icon": "node-red-dashboard/ui_date_picker.png"
    },
    {
        "id": "9f056da6.31f8c",
        "type": "function",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "Last Sun Trigger (UTC)",
        "func": "// var time = new Date().toISOString().substring(11,16);\nconst utcTime = new Date().toUTCString();\n\nnode.status({fill:\"green\",text:utcTime});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "2f4fcc9.5aff534",
                "b237dff9.864da"
            ]
        ],
        "icon": "node-red-dashboard/ui_date_picker.png",
        "info": "https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString\n\nhttps://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Date/toUTCString"
    },
    {
        "id": "65ee9e9a.21f",
        "type": "link out",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "daylight",
        "links": [
            "39c70bff.be9dc4"
        ],
        "x": 700,
        "y": 80,
        "wires": [],
        "l": true
    },
    {
        "id": "b237dff9.864da",
        "type": "link out",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "trigger",
        "links": [
            "e74158af.c17e38",
            "d097a21.f37fa6",
            "33d9d0a9.48997"
        ],
        "x": 710,
        "y": 260,
        "wires": [],
        "l": true
    },
    {
        "id": "39c70bff.be9dc4",
        "type": "link in",
        "z": "8ef7505f.8ffdf",
        "g": "546207f6.df72f8",
        "name": "daylight-in",
        "links": [
            "65ee9e9a.21f"
        ],
        "x": 120,
        "y": 380,
        "wires": [
            [
                "d08ae819.c1b448"
            ]
        ],
        "l": true
    },
    {
        "id": "e74158af.c17e38",
        "type": "link in",
        "z": "8ef7505f.8ffdf",
        "g": "546207f6.df72f8",
        "name": "trigger-in",
        "links": [
            "b237dff9.864da"
        ],
        "x": 120,
        "y": 440,
        "wires": [
            [
                "bf5ae167.fe64"
            ]
        ],
        "l": true
    },
    {
        "id": "67974905.ff7148",
        "type": "function",
        "z": "8ef7505f.8ffdf",
        "g": "546207f6.df72f8",
        "name": "Status (local)",
        "func": "var time = new Date().toISOString().substring(11,16);\nvar status = msg.payload;\nstatus = status + \" (\" + time + \")\";\n\nnode.status({fill:\"green\",text:status});\n\nmsg.time = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "2e7bd131.e6b43e"
            ]
        ],
        "icon": "node-red-dashboard/ui_switch.png"
    },
    {
        "id": "d08ae819.c1b448",
        "type": "change",
        "z": "8ef7505f.8ffdf",
        "g": "546207f6.df72f8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 235,
        "y": 380,
        "wires": [
            [
                "67974905.ff7148"
            ]
        ],
        "l": false
    },
    {
        "id": "b5624d4b.99664",
        "type": "mqtt in",
        "z": "8ef7505f.8ffdf",
        "g": "243a8a0e.82e4c6",
        "name": "",
        "topic": "rpizw3/astro/daylight",
        "qos": "2",
        "datatype": "auto",
        "broker": "f75e8571.184d98",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "ab6794ac.6fe8b8"
            ]
        ]
    },
    {
        "id": "498d445.33cc3bc",
        "type": "mqtt out",
        "z": "8ef7505f.8ffdf",
        "g": "2fe06efb.1e7f62",
        "name": "",
        "topic": "rpizw3/astro/daylight",
        "qos": "",
        "retain": "",
        "broker": "f75e8571.184d98",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "ab6794ac.6fe8b8",
        "type": "mqtt out",
        "z": "8ef7505f.8ffdf",
        "g": "243a8a0e.82e4c6",
        "name": "",
        "topic": "homepoint/astro/daylight",
        "qos": "",
        "retain": "",
        "broker": "f75e8571.184d98",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "d097a21.f37fa6",
        "type": "link in",
        "z": "8ef7505f.8ffdf",
        "g": "2fe06efb.1e7f62",
        "name": "daylight-in",
        "links": [
            "b237dff9.864da"
        ],
        "x": 120,
        "y": 600,
        "wires": [
            [
                "498d445.33cc3bc"
            ]
        ],
        "l": true
    },
    {
        "id": "bf5ae167.fe64",
        "type": "function",
        "z": "8ef7505f.8ffdf",
        "name": "Last Trigger (local)",
        "func": "const timestampUTC = new Date().toISOString();\nconst timestampLocal = new Date().toLocaleTimeString('de-DE');\n\nnode.status({fill:\"green\",text:timestampLocal});\n\nmsg.timestampUTC = timestampUTC;\nmsg.timestampLocal = timestampLocal;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "9a978910.b94a28"
            ]
        ],
        "icon": "node-red-dashboard/ui_date_picker.png",
        "info": "https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString"
    },
    {
        "id": "d860eda9.443a7",
        "type": "comment",
        "z": "8ef7505f.8ffdf",
        "g": "f1ed0782.9e94b8",
        "name": "Check RPi Timezone",
        "info": "# Raspberyy Pi configuration\n\ncheck `date`  \nchange ```sudo raspi-config```\ncheck `date` (again) \n\n### References\nManual [Grundkonfiguration](http://www.elektronik-kompendium.de/sites/raspberry-pi/1906291.htm) - german",
        "x": 160,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e7bd131.e6b43e",
        "type": "link out",
        "z": "8ef7505f.8ffdf",
        "g": "546207f6.df72f8",
        "name": "Astro daylight",
        "links": [],
        "x": 700,
        "y": 380,
        "wires": [],
        "l": true
    },
    {
        "id": "9a978910.b94a28",
        "type": "link out",
        "z": "8ef7505f.8ffdf",
        "g": "546207f6.df72f8",
        "name": "Astro trigger",
        "links": [],
        "x": 710,
        "y": 440,
        "wires": [],
        "l": true
    },
    {
        "id": "45f456d.ff611a8",
        "type": "comment",
        "z": "8ef7505f.8ffdf",
        "g": "2fe06efb.1e7f62",
        "name": "using UTC for MQTT back-end",
        "info": "",
        "x": 390,
        "y": 560,
        "wires": []
    },
    {
        "id": "33d9d0a9.48997",
        "type": "link in",
        "z": "8ef7505f.8ffdf",
        "g": "2fe06efb.1e7f62",
        "name": "trigger-in",
        "links": [
            "b237dff9.864da"
        ],
        "x": 120,
        "y": 660,
        "wires": [
            [
                "c9ee5ac5.0040b8"
            ]
        ],
        "l": true
    },
    {
        "id": "c9ee5ac5.0040b8",
        "type": "mqtt out",
        "z": "8ef7505f.8ffdf",
        "g": "2fe06efb.1e7f62",
        "name": "",
        "topic": "rpizw3/astro/trigger",
        "qos": "",
        "retain": "",
        "broker": "f75e8571.184d98",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "f75e8571.184d98",
        "type": "mqtt-broker",
        "z": "",
        "name": "RPi3B",
        "broker": "192.168.0.90",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]