flows/flows_Remote-RED.json
[
    {
        "id": "84cc3e46.558b8",
        "type": "tab",
        "label": "Remote-RED",
        "disabled": false,
        "info": "# Remote-RED\n\n[ Remote-RED Homepage](https://www.remote-red.com/de/home/)\nand \n[iOS AppStore](https://apps.apple.com/de/app/remote-red/id1529777665)"
    },
    {
        "id": "63b1d1c3.2006e",
        "type": "group",
        "z": "84cc3e46.558b8",
        "name": "Application example",
        "style": {
            "label": true
        },
        "nodes": [
            "a352977d.bba258",
            "8e789133.28fcf",
            "91855f86.18edc",
            "d19b5101.349a5",
            "c4b9c135.a3a7",
            "6b0ae09d.d0162",
            "aa87dad2.c8cb58",
            "54f76541.aff45c",
            "fb077820.73d798"
        ],
        "x": 34,
        "y": 39,
        "w": 772,
        "h": 202,
        "info": "# Public example\n\nofficial github site [Looking4Cache](https://github.com/Looking4Cache/node-red-contrib-remote)\n\npersonal github example [griemide](https://github.com/griemide/Node-RED)"
    },
    {
        "id": "a352977d.bba258",
        "type": "remote-access",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "confignode": "14c0b1e4.dfa90e",
        "name": "",
        "verbose": true,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "8e789133.28fcf"
            ]
        ]
    },
    {
        "id": "8e789133.28fcf",
        "type": "debug",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "name": "full debug access",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "91855f86.18edc",
        "type": "remote-notification",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "confignode": "14c0b1e4.dfa90e",
        "name": "",
        "notificationTitle": "payload.title",
        "notificationTitleType": "msg",
        "notificationBody": "payload.body",
        "notificationBodyType": "msg",
        "notificationSound": "bikebell",
        "notificationSoundComputed": "payload.sound",
        "notificationSoundComputedType": "msg",
        "output": 1,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "d19b5101.349a5"
            ]
        ]
    },
    {
        "id": "d19b5101.349a5",
        "type": "debug",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "name": "debug notification",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "c4b9c135.a3a7",
        "type": "remote-question",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "confignode": "14c0b1e4.dfa90e",
        "name": "",
        "questionTitle": "payload.title",
        "questionTitleType": "msg",
        "questionBody": "payload.body",
        "questionSound": "default",
        "questionSoundComputed": "payload.sound",
        "questionSoundComputedType": "msg",
        "questionBodyType": "msg",
        "questionAnswerOne": "Antwort 1 - true",
        "questionAnswerOneType": "str",
        "questionAnswerOneValue": "true",
        "questionAnswerOneValueType": "bool",
        "questionAnswerTwo": "Antwort 2 - false",
        "questionAnswerTwoType": "str",
        "questionAnswerTwoValue": "false",
        "questionAnswerTwoValueType": "bool",
        "questionAnswerThree": "Antwort 3 - none",
        "questionAnswerThreeType": "str",
        "questionAnswerThreeValue": "none",
        "questionAnswerThreeValueType": "str",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "6b0ae09d.d0162"
            ]
        ]
    },
    {
        "id": "6b0ae09d.d0162",
        "type": "debug",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "name": "debug question",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "aa87dad2.c8cb58",
        "type": "inject",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "name": "Selection Request",
        "props": [
            {
                "p": "payload.title",
                "v": "remote-question",
                "vt": "str"
            },
            {
                "p": "payload.body",
                "v": "Select Answer ...",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "c4b9c135.a3a7"
            ]
        ]
    },
    {
        "id": "54f76541.aff45c",
        "type": "comment",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "name": "Installlation hints",
        "info": "# Remote-RED\n\n[ Remote-RED Homepage](https://www.remote-red.com/de/home/)\nand \n[iOS AppStore](https://apps.apple.com/de/app/remote-red/id1529777665)",
        "x": 240,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb077820.73d798",
        "type": "inject",
        "z": "84cc3e46.558b8",
        "g": "63b1d1c3.2006e",
        "name": "Setup Message",
        "props": [
            {
                "p": "payload.title",
                "v": "remote-notification",
                "vt": "str"
            },
            {
                "p": "payload.body",
                "v": "Remote-RED instance now active",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": ".1",
        "topic": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "91855f86.18edc"
            ]
        ]
    },
    {
        "id": "14c0b1e4.dfa90e",
        "type": "remote-config",
        "z": "",
        "name": "rpizw2 ui",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "raw9zxproarqkzu5pc1n73xk6n9n2ynvcljz3jr2q5zjcxoej3x4iu039fhbilwh",
        "server": "nodered02.remote-red.com",
        "region": "de"
    }
]