flows/flows_Backup.json
[
    {
        "id": "ed50c17b.aeeaa",
        "type": "tab",
        "label": "Backup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62fafcf1.302324",
        "type": "group",
        "z": "ed50c17b.aeeaa",
        "name": "Manual Backup",
        "style": {
            "label": true
        },
        "nodes": [
            "1dc37c91.d94793",
            "4b6d1b78.b25084",
            "40b35c2c.f96db4",
            "2c5f4e4f.d5ba82",
            "c868ca6.be71638",
            "70104c1d.e4c364",
            "9cb95302.55d15",
            "b0bac384.d949",
            "f365d00f.67369",
            "7fd591f5.1e59c",
            "2326b43e.d18d9c",
            "9b23778c.b324e8",
            "751020dd.4b697"
        ],
        "x": 34,
        "y": 119,
        "w": 772,
        "h": 482
    },
    {
        "id": "1dc37c91.d94793",
        "type": "comment",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Manual Backup - using path /home/pi.node-red (only one backup file per day)",
        "info": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b6d1b78.b25084",
        "type": "file in",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Read file",
        "filename": "",
        "format": "utf8",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "9b23778c.b324e8"
            ]
        ]
    },
    {
        "id": "40b35c2c.f96db4",
        "type": "file",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Save file",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "751020dd.4b697"
            ]
        ]
    },
    {
        "id": "2c5f4e4f.d5ba82",
        "type": "inject",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "Backup",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "f365d00f.67369"
            ]
        ],
        "info": "\nNode-RED default backup file is\n`.flows_rpizw3.json.backup`"
    },
    {
        "id": "c868ca6.be71638",
        "type": "file in",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Read file",
        "filename": "",
        "format": "utf8",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "2326b43e.d18d9c"
            ]
        ]
    },
    {
        "id": "70104c1d.e4c364",
        "type": "file",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Save file",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "9cb95302.55d15"
            ]
        ]
    },
    {
        "id": "9cb95302.55d15",
        "type": "debug",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "msg.size",
        "statusType": "jsonata",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "b0bac384.d949",
        "type": "function",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Files",
        "func": "// prepare files to be backed-up\n// host already evaluated withhon msg.payload\nvar host = msg.payload.hostname; // palette: node-red-contrib-os\n\nnode.status({fill:\"green\", text:host});\n\nvar path = \"/home/pi/.node-red/\"; // default\nvar file1 = \"flows_\" + host + \".json\"; // node-red flows\nvar file2 = \"flows_\" + host + \"_cred.json\"; // flows credentials\n\nvar out1 = {filename:path + file1, host:host, path:path, file:file1};\nvar out2 = {filename:path + file2, host:host, path:path, file:file2};\n\nreturn [out1, out2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "4b6d1b78.b25084"
            ],
            [
                "c868ca6.be71638"
            ]
        ],
        "inputLabels": [
            "Host"
        ],
        "outputLabels": [
            "Flow",
            "Credentials"
        ],
        "icon": "font-awesome/fa-files-o",
        "info": "https://notenoughtech.com/nodered-home-automation/multiple-payloads/"
    },
    {
        "id": "f365d00f.67369",
        "type": "OS",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Host",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "7fd591f5.1e59c",
                "b0bac384.d949"
            ]
        ]
    },
    {
        "id": "7fd591f5.1e59c",
        "type": "debug",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "host",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.hostname",
        "targetType": "msg",
        "statusVal": "payload.hostname",
        "statusType": "auto",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "2326b43e.d18d9c",
        "type": "function",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Backup ",
        "func": "var day = new Date().toISOString().substring(0,10);\n\nnode.status({fill:\"green\",text:day});\n\n// msg.path and msg.file are already defined before\nvar hidden = \".\";  // i.e. use ls-al instead of ls -l\n\nmsg.filename = msg.path + hidden + msg.file + \".backup_\" + day;\n\n// determine number of payload bytes\nvar bytes = msg.payload.length;\nmsg.size = bytes + \" byte\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "70104c1d.e4c364"
            ]
        ],
        "icon": "node-red-dashboard/ui_date_picker.png"
    },
    {
        "id": "9b23778c.b324e8",
        "type": "function",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "Backup ",
        "func": "var day = new Date().toISOString().substring(0,10);\n\nnode.status({fill:\"green\",text:day});\n\n// msg.path and msg.file are already defined before\nvar hidden = \".\";  // i.e. use ls-al instead of ls -l\n\nmsg.filename = msg.path + hidden + msg.file + \".backup_\" + day;\n\n// determine number of payload bytes\nvar bytes = msg.payload.length;\nmsg.size = bytes + \" byte\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 280,
        "wires": [
            [
                "40b35c2c.f96db4"
            ]
        ],
        "icon": "node-red-dashboard/ui_date_picker.png"
    },
    {
        "id": "751020dd.4b697",
        "type": "debug",
        "z": "ed50c17b.aeeaa",
        "g": "62fafcf1.302324",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "msg.size",
        "statusType": "jsonata",
        "x": 710,
        "y": 380,
        "wires": []
    }
]