flows/flows_Shelly-API.json
[
    {
        "id": "681fa66b.28d958",
        "type": "tab",
        "label": "Shelly API",
        "disabled": false,
        "info": "# Shelly API\n\nShelly [Common HTTP API](https://shelly-api-docs.shelly.cloud/#common-http-api)\n\n### Example\n`http://192.168.0.222/status`"
    },
    {
        "id": "af7ba13f.4f94b",
        "type": "group",
        "z": "681fa66b.28d958",
        "name": "Shelly API Read",
        "style": {
            "label": true
        },
        "nodes": [
            "c0d5e953.0c9a28",
            "62eff994.e8d5f8",
            "c38c94c3.aa1d68",
            "decd9e01.626cf",
            "3ba809f9.b09686",
            "c50a24b1.8519d8",
            "537067f6.f531f8",
            "93a01458.d9ac98",
            "1e2c46f1.60ecb9",
            "47b50f7.092bcf",
            "f4ee9884.50f518",
            "a39301c6.53f6e",
            "b54b1d4d.26722",
            "e055ee7e.be28f",
            "ed1e2743.05e6d8"
        ],
        "x": 34,
        "y": 39,
        "w": 772,
        "h": 382
    },
    {
        "id": "c0d5e953.0c9a28",
        "type": "http request",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "62eff994.e8d5f8",
                "3ba809f9.b09686"
            ]
        ]
    },
    {
        "id": "62eff994.e8d5f8",
        "type": "debug",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "\"Status Code: \" & statusCode",
        "statusType": "jsonata",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "c38c94c3.aa1d68",
        "type": "inject",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "/debug/log1",
        "props": [
            {
                "p": "get",
                "v": "/debug/log1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "e055ee7e.be28f"
            ]
        ]
    },
    {
        "id": "decd9e01.626cf",
        "type": "inject",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "/shelly",
        "props": [
            {
                "p": "get",
                "v": "/shelly",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "e055ee7e.be28f"
            ]
        ]
    },
    {
        "id": "3ba809f9.b09686",
        "type": "debug",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "$length(payload) & \" bytes\"",
        "statusType": "jsonata",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "c50a24b1.8519d8",
        "type": "inject",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "/status",
        "props": [
            {
                "p": "get",
                "v": "/status",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "e055ee7e.be28f"
            ]
        ]
    },
    {
        "id": "537067f6.f531f8",
        "type": "inject",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "/settings",
        "props": [
            {
                "p": "get",
                "v": "/settings",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "e055ee7e.be28f"
            ]
        ]
    },
    {
        "id": "93a01458.d9ac98",
        "type": "inject",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "/settings/sta",
        "props": [
            {
                "p": "get",
                "v": "/settings/sta",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "e055ee7e.be28f"
            ]
        ]
    },
    {
        "id": "1e2c46f1.60ecb9",
        "type": "comment",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "Shelly API Evaluation - https://shelly-api-docs.shelly.cloud/#common-http-api",
        "info": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "47b50f7.092bcf",
        "type": "change",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "set flow context",
        "rules": [
            {
                "t": "set",
                "p": "shelly",
                "pt": "flow",
                "to": "shelly_ip",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "b54b1d4d.26722"
            ]
        ]
    },
    {
        "id": "f4ee9884.50f518",
        "type": "inject",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "Shelly IP",
        "props": [
            {
                "p": "shelly_ip",
                "v": "192.168.0.222",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "47b50f7.092bcf"
            ]
        ]
    },
    {
        "id": "a39301c6.53f6e",
        "type": "debug",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "$env($flow.context(\"shelly\"))",
        "targetType": "jsonata",
        "statusVal": "$env(\"shelly\")",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "b54b1d4d.26722",
        "type": "function",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "Context",
        "func": "// get flow context\nvar host = flow.get(\"shelly\")\n\nmsg.payload = host\n\nnode.status({fill:\"grey\", text:host});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "a39301c6.53f6e"
            ]
        ]
    },
    {
        "id": "e055ee7e.be28f",
        "type": "function",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "",
        "func": "// get flow context\nvar service = \"http://\"\nvar host = flow.get(\"shelly\")\n\nmsg.url = service + host + msg.get\n\nvar status = \"grey\";\nif(typeof host != \"undefined\") status = \"green\";\nnode.status({fill:status});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nvar status = \"grey\";",
        "finalize": "",
        "x": 335,
        "y": 300,
        "wires": [
            [
                "c0d5e953.0c9a28"
            ]
        ],
        "l": false
    },
    {
        "id": "ed1e2743.05e6d8",
        "type": "comment",
        "z": "681fa66b.28d958",
        "g": "af7ba13f.4f94b",
        "name": "function node sets url of configured shelly devive for http request",
        "info": "",
        "x": 550,
        "y": 380,
        "wires": []
    }
]